.contenedor {
    background-color: #ede5db;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: flex-start;  
    height: 100vh;  
    margin: 0;
    padding-top: 20px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.table-container {
    padding: 10px;
    border-radius: 10px; 
    max-width: 90%;
    overflow-x: auto; 
}

/* Transparent table */
.table {
    background-color: transparent !important;
    border-collapse: collapse; 
}

/* Transparent table 1.1 */
.table th, .table td {
    background-color: transparent !important;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2); 
}

.table-dark {
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: white;
}
/* Button Container style */
.buttonsConteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}
.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
}
/* Absences counter styles */
.table>:not(caption)>*>*{
    background-color: #ede5db;
}
.form-check{
    justify-content: center;
    align-items: center;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

main a{
    max-width: 95%;
    padding: 1rem;
}


